scheme_auth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_name" type="xs:string" />
              <xs:element name="master_password" type="xs:string" />
              <xs:element name="salt" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>