scheme_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="password_items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="password_item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="login" type="xs:string" />
              <xs:element name="password" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="user_name" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="app_name" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>